.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4rem;
  flex-basis: 50%;
  background: var(--red);
  height: 100vh;
  overflow: auto;
}
.form-details {
  max-width: 400px;
  color: white;
  margin-bottom: 2rem;
}
.form-details h1 {
  margin-bottom: .5rem;
  font-family: savath;
  font-weight: 300;
  font-size: 2rem;
}
.form form {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}
.form h4 {
  color: white;
  text-align: left;
  font-family: var(--savath);
  font-size: 1rem; 
  margin-bottom: .25rem;
}
.form fieldset {
  border: none;
}
.form label {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: .5rem;
}
.form label input {
  width: 100%;
  padding: .5rem;
  border: none;
  font-family: var(--sans);
  font-weight: 500;
  font-size: 1rem;
}
.form input[type="submit"] {
  border: none;
  background: var(--burgendy);
  font-family: var(--amatic);
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.form input[type="submit"]:hover {
  opacity: 0.8;
}

/* Date Picker */
.react-date-picker__clear-button {
  display: none;
}
.react-date-picker__wrapper {
  align-items: center;
  background: white;
}

/* Form Checkboxes */
.form .bringers-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 1rem 0
}
.form .bringers label {
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  color: white;
  line-height: 1;
}
.form .bringers input {
  width: auto;
  margin-right: .75rem;
  margin-top: .1rem;
  border: none;
  background: white;
}