:root {

  /* Colors */
  --red: #C31F26;
  --blood: #270608;
  --burgandy: #6D0F19;

  /* Fonts */
  --poiret: 'Poiret One', cursive;
  --sans: 'Open Sans', sans-serif;
  --miniver: 'Miniver', cursive;
  --amatic: 'Amatic SC', cursive;
  --sac: 'Sacramento', cursive;

}

@font-face {
  src: url(fonts/savath.ttf);
  font-family: savath;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}
